{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Home{% endblock head_title %}

{% block extra_styles %}{% endblock extra_styles %}

{% block content_banner %}

<!-- start Header -->
    {% include 'app_core/snippets/banner.html' %}
<!-- end Header -->

{% endblock content_banner %}

{% block content %}

<!-- start About Us -->
    {% include 'app_core/snippets/about.html' %}
<!-- end About Us -->

<!-- start Social Media -->
    {% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

<!-- start Services -->
    {% include 'app_core/snippets/services.html' %}
<!-- end Services -->

<!-- start Counters -->
    {% include 'app_core/snippets/counters.html' %}
<!-- end Counters -->

<!-- start Gallery -->
    {% include 'app_core/snippets/gallery.html' %}
<!-- end Gallery -->

<!-- start Testimonios -->
    {% include 'app_core/snippets/testimonials.html' %}
<!-- end Testimonios -->

{% if about.image_google %}
    <!-- start Google Business -->
        {% include 'app_core/snippets/google_business.html' %}
    <!-- end Google Business -->
{% endif %}

<!-- start Partners -->
    {% include 'app_core/snippets/partners.html' %}
<!-- end Partners -->

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}