{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Privacy{% endblock head_title %}

{% block extra_styles %}{% endblock extra_styles %}

{% block content %}

<!-- start Banner Privacy -->
    {% include 'app_core/snippets/banner_privacy.html' %}
<!-- end Banner Privacy -->

<!-- start Privacy -->
    {% include 'app_core/snippets/privacy_section.html' %}
<!-- end Privacy -->

<!-- start Social Media -->
    {% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

<!-- start Partners -->
    {% include 'app_core/snippets/partners.html' %}
<!-- end Partners -->

{% endblock content %}

{% block extra_javascript %}
<script>
    // Seleccionar todos los elementos con la clase "custom_list"
    const customListElements = document.querySelectorAll('.custom_list');

    // Iterar sobre cada elemento con la clase "custom_list"
    customListElements.forEach((element) => {
        // Seleccionar los elementos <ul> dentro del elemento actual con la clase "custom_list"
        const ulElements = element.querySelectorAll('ul');

        // Iterar sobre cada elemento <ul>
        ulElements.forEach((ul) => {
            // Agregar la clase deseada al elemento <ul>
            ul.classList.add('list-circle', 'primary', 'm-a0');
        });
    });
</script>
{% endblock extra_javascript %}