{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Works{% endblock head_title %}

{% block extra_styles %}{% endblock extra_styles %}

{% block content %}

<!-- start Banner Works -->
    {% include 'app_core/snippets/banner_works.html' %}
<!-- end Banner Works -->

<!-- start Gallery -->
    {% include 'app_core/snippets/gallery.html' %}
<!-- end Gallery -->

<!-- start Social Media -->
    {% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}
