{% load static %}

<!-- inner page banner -->
<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url('{% static 'app_core/images/banner/bnr3.webp' %}');">
    <div class="container">
        <div class="dlab-bnr-inr-entry">
            <h1 class="text-white">About Us</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <ul class="list-inline">
                    <li><a href="{% url 'app_core:index' %}">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
            <!-- Breadcrumb row END -->
        </div>
    </div>
</div>
<!-- inner page banner END -->