{% load static %}

<div class="section-full overlay-black-dark bg-img-fix text-white content-inner" style="background-image:url(static/app_core/images/background/bg1.jpg);">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="m-b30 dlab-box text-center counter-style-2">
                        <div class="icon-lg "><i class="{{indicators.get_icon1_display}}"></i></div>
                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div class="counter text-red m-b5">{{indicators.number1}}</div>
                            <span class="counter-text" style="font-size: 30px;"> {{indicators.symbol1}}</span>
                        </div>
                        <span class="counter-text">{{indicators.title1}}</span> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="m-b30 dlab-box text-center counter-style-2">
                        <div class="icon-lg "><i class="{{indicators.get_icon2_display}}"></i></div>
                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div class="counter text-red m-b5">{{indicators.number2}}</div>
                            <span class="counter-text" style="font-size: 30px;"> {{indicators.symbol2}}</span>
                        </div>
                        <span class="counter-text">{{indicators.title2}}</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="m-b30 dlab-box text-center counter-style-2">
                        <div class="icon-lg "><i class="{{indicators.get_icon3_display}}"></i></div>
                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div class="counter text-red m-b5">{{indicators.number3}}</div>
                            <span class="counter-text" style="font-size: 30px;"> {{indicators.symbol3}}</span>
                        </div>
                        <span class="counter-text">{{indicators.title3}}</span> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                    <div class="m-b10 dlab-box text-center counter-style-2">
                        <div class="icon-lg "><i class="{{indicators.get_icon4_display}}"></i></div>
                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div class="counter text-red m-b5">{{indicators.number4}}</div>
                            <span class="counter-text" style="font-size: 30px;"> {{indicators.symbol4}}</span>
                        </div>
                        <span class="counter-text">{{indicators.title4}}</span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>