{% load static %}

<div class="bg-white lightgallery gallery-filters" id="lightgallery">
    <div class="section-full bg-white content-inner-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="m-t0 m-b20">Filters Style 1</h3>
                    <div class="site-filters style1 clearfix m-b20">
                        <ul class="filters1" data-toggle="buttons">
                            <li data-filter="" class="btn active"><input type="radio"><a href="javascript:void(0);"><span>All</span></a></li>
                            <li data-filter="nature" class="btn"><input type="radio"><a href="javascript:void(0);"><span>Nature</span></a></li>
                            <li data-filter="fashion" class="btn"><input type="radio"><a href="javascript:void(0);"><span>Fashion</span></a></li>
                            <li data-filter="woman" class="btn"><input type="radio"><a href="javascript:void(0);"><span>Woman</span></a></li>
                            <li data-filter="man" class="btn"><input type="radio"><a href="javascript:void(0);"><span>Man</span></a></li>
                            <li data-filter="animal" class="btn"><input type="radio"><a href="javascript:void(0);"><span>Animal</span></a></li>
                            <li data-filter="pet" class="btn"><input type="radio"><a href="javascript:void(0);"><span>Pet</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <ul id="masonry1" class="dlab-gallery-listing gallery text-center sp10">
                    <li class="card-container m-b10 col-lg-6 nature">
                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                            <img src="{% static 'app_core/images/gallery/filters/pic1.jpg' %}"  alt="" width="800" height="650"/>
                            <div class="overlay-bx">
                                <div class="overlay-icon"> 
                                    <span data-exthumbimage="{% static 'app_core/images/gallery/filters/pic1.jpg' %}" data-src="{% static 'app_core/images/gallery/filters/pic1.jpg' %}" class="check-km" title="Image 1 Title will come here">		
                                        <i class="ti-zoom-in icon-bx-xs"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-container m-b10 col-lg-6 animal">
                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                            <img src="{% static 'app_core/images/gallery/filters/pic2.jpg' %}"  alt="" width="800" height="650"/>
                            <div class="overlay-bx">
                                <div class="overlay-icon"> 
                                    <span data-exthumbimage="{% static 'app_core/images/gallery/filters/pic2.jpg' %}" data-src="{% static 'app_core/images/gallery/filters/pic2.jpg' %}" class="check-km" title="Image 2 Title will come here">		
                                        <i class="ti-zoom-in icon-bx-xs"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-container m-b10 col-lg-6 animal">
                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                            <img src="{% static 'app_core/images/gallery/filters/pic3.jpg' %}"  alt="" width="800" height="650"/>
                            <div class="overlay-bx">
                                <div class="overlay-icon"> 
                                    <span data-exthumbimage="{% static 'app_core/images/gallery/filters/pic3.jpg' %}" data-src="{% static 'app_core/images/gallery/filters/pic3.jpg' %}" class="check-km" title="Image 3 Title will come here">		
                                        <i class="ti-zoom-in icon-bx-xs"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-container m-b10 col-lg-6 fashion">
                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                            <img src="{% static 'app_core/images/gallery/filters/pic4.jpg' %}"  alt="" width="800" height="650"/>
                            <div class="overlay-bx">
                                <div class="overlay-icon"> 
                                    <span data-exthumbimage="{% static 'app_core/images/gallery/filters/pic4.jpg' %}" data-src="{% static 'app_core/images/gallery/filters/pic4.jpg' %}" class="check-km" title="Image 4 Title will come here">		
                                        <i class="ti-zoom-in icon-bx-xs"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-container m-b10 col-lg-6 nature">
                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                            <img src="{% static 'app_core/images/gallery/filters/pic5.jpg' %}"  alt="" width="800" height="650"/>
                            <div class="overlay-bx">
                                <div class="overlay-icon"> 
                                    <span data-exthumbimage="{% static 'app_core/images/gallery/filters/pic5.jpg' %}" data-src="{% static 'app_core/images/gallery/filters/pic5.jpg' %}" class="check-km" title="Image 5 Title will come here">		
                                        <i class="ti-zoom-in icon-bx-xs"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-container m-b10 col-lg-6 woman">
                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect">
                            <img src="{% static 'app_core/images/gallery/filters/pic6.jpg' %}"  alt="" width="800" height="650"/>
                            <div class="overlay-bx">
                                <div class="overlay-icon"> 
                                    <span data-exthumbimage="{% static 'app_core/images/gallery/filters/pic6.jpg' %}" data-src="{% static 'app_core/images/gallery/filters/pic6.jpg' %}" class="check-km" title="Image 6 Title will come here">		
                                        <i class="ti-zoom-in icon-bx-xs"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>