{% load static %}

<div class="section-full bg-gray content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sort-title clearfix text-center">
                    <h4>Google Business</h4>
                </div>
                <div class="section-content box-sort-in p-b0 button-example">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg-6 m-b30" style="display: flex; justify-content: center; align-items: center;">
                            <div class="icon-bx-wraper center">
                                <div class="icon-content">
                                    <h3 class="dlab-tilte text-capitalize">We'd Appreciate Your Review Now!</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 m-b30">
                            <div class="icon-bx-wraper center">
                                <div class="icon-content">
                                    <a href="javascript:;" target="_blank">
                                        <img src="{{about.image_google.url}}" alt="google_business_img" width="60%">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>