{% load static %}

<div class="content-block">
    <!-- Privacy Policy -->
    <div class="section-full content-inner inner-text">
        <div class="container">
            <div class="col-lg-12 section-head text-center">
                <div class=" clearfix">
                    <h2>Privacy Policies</h2>
                </div>
                <div class="dlab-separator-outer m-t0 m-b20">
                    <div class="dlab-separator bg-primary style-skew"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 custom_list">
                    {{privacy.description|safe}}
                    <div class="dlab-divider bg-gray-dark"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Privacy Policy END -->
</div>