{% load static %}

<div class="section-full bg-img-fix content-inner-3 overlay-black-dark contact-action"
    style="background-image:url('{% static 'app_core/images/background/bg18.webp' %}');">
    <div class="container">
        <div class="row relative text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
            <div class="col-md-12 col-lg-12 m-b30">
                <div class="contact-no-area">
                    <h2 class="title">Follow Us!</h2>
                    <div class="contact-no justify-content-center">
                        <ul class="list-inline m-a0">
                            <li><a href="javascript:void(0);" class="site-button btnhover20 facebook sharp"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button btnhover20 google-plus sharp"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button btnhover20 linkedin sharp"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button btnhover20 instagram sharp"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button btnhover20 twitter sharp"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>