{% load static %}

<!-- Testimonials -->
<div class="section-full content-inner bg-white wow bounceIn" data-wow-duration="2s"
data-wow-delay="0.9s">
<div class="container">
    <div class="section-head text-center">
        <h2 class="title">Testimonials</h2>
        <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the
            industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="testimonial-seven owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3">
        <div class="item">
            <div class="testimonial-10">
                <div class="testimonial-pic radius"><img
                        src="{% static 'app_core/images/testimonials/pic6.jpg' %}" width="100"
                        height="100" alt=""></div>
                <div class="testimonial-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the when
                        an printer took a galley of type and scrambled.</p>
                </div>
                <div class="testimonial-detail"> <strong class="testimonial-name">David
                        Matin</strong> <span class="testimonial-position">Student</span> </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-10">
                <div class="testimonial-pic radius"><img
                        src="{% static 'app_core/images/testimonials/pic5.jpg' %}" width="100"
                        height="100" alt=""></div>
                <div class="testimonial-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the when
                        an printer took a galley of type and scrambled.</p>
                </div>
                <div class="testimonial-detail"> <strong class="testimonial-name">David
                        Matin</strong> <span class="testimonial-position">Student</span> </div>
            </div>
        </div>
        <div class="item">
            <div class="testimonial-10">
                <div class="testimonial-pic radius"><img
                        src="{% static 'app_core/images/testimonials/pic4.jpg' %}" width="100"
                        height="100" alt=""></div>
                <div class="testimonial-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the when
                        an printer took a galley of type and scrambled.</p>
                </div>
                <div class="testimonial-detail"> <strong class="testimonial-name">David
                        Matin</strong> <span class="testimonial-position">Student</span> </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonials End -->